@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Alkatra', cursive, sans-serif;
    background-color: #86af49;
}

#header,
h2,
#rules,
h3 {
    text-align: center;
}

#header {
    font-size: 30px;
    height: 200px;
}

#scores {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    padding: 40px 0 50px 0;
    font-size: 30px;
}

#game-choices {
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 200px;
    width: 200px;
}

button {
    cursor: pointer;
    border-radius: 50%;
}

#result-container {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

#result {
    font-size: 40px;

}

#rules {
    padding: 50px 0 70px 0;
    font-size: 20px;
}